body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.card {
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 20px;
}

.btn-success {
    background-color: #2ECC71;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

.btn-success:hover {
    background-color: #27ae60;
}

.form-text.text-danger {
    display: none;
}
